.changeModel{
    position: relative;
    z-index: 10;
}

.glass{
    position: absolute;
    top: 0;
    left: 0;
}

.background{
    background-image: url('../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}