/*Global CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.header__content{
    position: relative;
}
.header__content img{
    margin-top: 15px;
    display: block;
    width: 100%;
}
.header__logo{
    position: absolute;
    top: -10px;
    left: 130px;
    bottom: 500px;
    color: rgba(221, 93, 47, 0.918);
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
   
}

.header__logo h1{
    display: initial;
}

.header__logo p {
    position: absolute;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    left: 25px;
    top: 60px;
    width: 100%;

}

.header__menu{
    padding: 10px;
    width: 100%;
    
}


.header__menu li{
    list-style-type: none;
    text-align: center;
}

.header__menu a{
    text-decoration: none;
    color: rgb(42, 188, 224);
    font-size: 20px;
    
}

#header__menu__a {
    color: rgba(221, 93, 47, 0.918);
}


.header__menu ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0;
    float: right;
    padding: 5px 100px;
}


/* CAROUSEL */
.carousel{
    max-width: 1280px;
}



.carousel__item__text h1{
    position: absolute;
    font-size: 75px;
    top: 260px;
    left: 780px;
    background-color:rgba(255, 255, 255, 0.5);
    width: 765px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.486);
    letter-spacing: 10px;
}

.carousel__item__text p:nth-of-type(1){
    position: absolute;
    font-size: 20px;
    top: 410px;
    left: 705px;
    background-color:rgba(255, 255, 255, 0.5);
    width: 839px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.486);
    letter-spacing: 12.5px;
}

.carousel__item__text p:nth-of-type(2){
    position: absolute;
    font-size: 20px;
    top: 450px;
    left: 1090px;
    background-color:rgba(255, 255, 255, 0.5);
    width: 455px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.486);
    letter-spacing: 10px;
}


/* INFO */

.info__content{
    background-color:#87CEEB;
    height: 200px;
}

.info__content__text{
    max-width: 1280px;
    margin: auto;
}

.info__content__text h1 {
    position: relative;
    height: 50px;
    background-color:rgba(255, 255, 255, 0.5);
    width: 390px;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.486);
    padding: 15px 0;
    top: 30px;
    

}

.info__content__text p{
    font-size: 20px;
    position: relative;
    top: 50px;
}


/* WELCOME */

.welcome__content{
    max-width: 1280px;
    margin: auto;
}

.welcome__content > h1 {
    font-size: 60px;
    text-align: center;
}

.welcome__content > p{
    text-align: center;
}

.welcome__list{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
}

.welcome__item img{
    width: 100%;
    display: block;
}

.welcome__item h1 {
    color: rgba(255, 94, 0, 0.747);
}

.welcome__item i {
    color: rgb(118, 216, 255);
}

.welcome__item p{
    padding: 30px;
}

/* WORKS */

.works__content{
    max-width: 1280px;
    margin: auto;
}

.works__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.works__item img{
    display: block;
    width: 100%;
}

.works__content > h1{
    font-size: 60px;
    text-align: center;
}


/* CO-OPPERATE */

.co-opperate__content{
    max-width: 1280px;
    margin: auto;
}

.co-opperate__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.co-opperate__content > h1{
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 80px;
}


#image{
    width: 100%;
    height: 460px;
    margin-bottom: 50px;
    position: relative;
}

.co-opperate__item__text{
    font-size: 15px;
    line-height: 35px;
}

.co-opperate__item__text i{
    color: rgb(118, 216, 255);
    margin-right: 20px;
}

.co-opperate__item__text > h1{
    margin: 15px;
}

.co-opperate__item__info{
    position: absolute;
    top: 2850px;
    color: white;
    font-size: 25px;
    line-height: 75px;
    font-weight: bold;
}

.co-opperate__item__info span{
    margin-left: 100px;
    padding-right: 30px;
    color: rgb(50, 197, 255);
    font-weight: bolder;
}

/* FOOTER */

.footer{
    background-color: rgba(0, 0, 0, 0.829);
    height: 350px;
}

.footer__item h1{
    color: white;
    font-weight: bolder;
}

.footer__nav a{
    color: rgba(255, 255, 255, 0.568);
    text-decoration: none;
}

.footer__content{
    max-width: 1280px;
    margin: auto;
}

.footer__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 25px;
    margin: auto;
    grid-gap: 100px;
}

.footer__item p{
    color: rgba(255, 255, 255, 0.568);
    font-size: 15px;
}

.footer__item a{
    color: rgba(255, 255, 255, 0.568);
}

.footer__item{
    line-height: 45px;
    font-size: 15px;
    margin-top: 35px;
}



.stalwart__footer h1{
    font-size: 60px;
    margin: 20px;
}

.stalwart__footer p{
    margin-left: 20px;
}

.stalwart__footer span{
    color: orangered;
    font-size: 20px;
}

.get_in_touch{
   line-height: normal;
   padding-top: 3px;
}

.get_in_touch button{
    font-size: 20px;
    width: 60px;
    height: 30px;
    margin-top: 15px;
    background-color: orangered;
    color: white;
}

.get_in_touch input{
    height: 30px;
    width: 150px;
}